<header class="background-fixed background-cover background-no-repeat color-alt font-title">
	<div class="contact-bar clearfix absolute top width-viewport">
		<a href="tel:{{ site.data.business.telephone }}" class="float-left contact-link" role="button">
			{% include icon.html icon='#call-start' %}
			{{ site.data.business.telephone | replace: '+', '' }}
		</a>
		<a href="mailto:{{ site.data.business.email }}" class="float-right contact-link" role="button">
			{% include icon.html icon='#mail-unread' %}
			{{ site.data.business.email }}
		</a>
	</div>
	<h3 class="center branding animation-slow animation-ease-in bounceIn animation-fill-backwards">
		<a href="{{ site.data.business.url }}" class="business-name underline>{{ site.data.business.name }}">
		{% include icon.html
			icon='#logo'
			class='current-color logo icon'
		%}
	</h3>
	<a href="{{ site.data.business.address.url }}" class="inline-block">
		<address class="center branding animation-slow animation-ease-in bounceIn animation-fill-backwards">
			{% include icon.html icon='#location' %}
			{{ site.data.business.address.streetAddress }}
			{{ site.data.business.address.addressRegion }},
			{{ site.data.business.address.addressLocality }}
		</address>
	</a>
</header>
