:root {
	--desktop-rem: 1.3vw;
	--tablet-rem: 1.5vw;
	--mobile-rem: 3.3vw;
	--font-display: auto;

	--nav-height: 3rem;

	--river-background-1920: url("../../img/river-bank-1920.jpg");
	--river-background-1200: url("../../img/river-bank-1200.jpg");
	--river-background-800: url("../../img/river-bank-800.jpg");
	--river-background-400: url("../../img/river-bank-400.jpg");
	
	--hills-color: #8B8168;

	--hills-background-1920: url("../../img/green-hills-1920.jpg") var(--hills-color);
	--hills-background-1200: url("../../img/green-hills-1200.jpg") var(--hills-color);
	--hills-background-800: url("../../img/green-hills-800.jpg") var(--hills-color);
	--hills-background-400: url("../../img/green-hills-400.jpg") var(--hills-color);
	--board-background: url("../../img/board.jpg") #441F16;

	--primary-color: #E1F8D3;
	--accent-color: #64B397;
	--contrast-color: #446C93;
	--alt-color: #FAFAFA;
	--default-color: #010101;
	--link-color: auto;
	--button-background: #71A16F;
	--button-active-background: #3F9879;
	--button-active-color: var(--button-color);
	--button-disabled-background: var(--button-active-background);
	--button-border: 1px solid var(--button-disabled-background);
	--button-disabled-border: 1px solid var(--button-background);
	--button-active-border: var(--button-disabled-border);
	--button-color: var(--alt-color);

	--shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.7);

	--main-font: 'Roboto';
	--title-font: 'Alice';
	--header-font: 'Alice';
	--article-font: var(--main-font);
	--article-header-font: var(--header-font);

	/*================== Animation properties ==================*/
	--animation-stagger: 150ms;

}
